<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center">Pranav Jadhav.</h1>
          {% endif %}

          {% if site.description != '' or site.enable_contact == true %}
          <p class="text-center">
            
            ML @ <a href="https://www.tricog.com/">tricog</a> | coffee @ <a href="https://drive.google.com/file/d/1CNNIRbfQA7bg89vwCkJXXe9wcoy-eKIq/view?usp=drive_link">home</a> | football | movies
            
          </p>
          {% endif %}

          <div class="hero-buttons" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 10px;">
            {% if site.twitter_username != '' %}
              <a href="https://twitter.com/pranav9194"><button class="btn btn-default btn-lg"><i class="fab fa-twitter"></i>twitter</button></a>
            {% endif %}
            
            <a href="https://boxd.it/4S4ZH"><button class="btn btn-default btn-lg"><i class="fab fa-letterboxd"></i>letterboxd</button></a>

            <a href="https://{{ site.medium_username }}"><button class="btn btn-default btn-lg"><i class="fab fa-medium"></i>Medium</button></a>
            
            <a href="https://github.com/{{ site.github_username }}"><button class="btn btn-default btn-lg"><i class="fab fa-github"></i>Github</button></a>
            
            <a href="https://www.goodreads.com/pranavjadhav"><button class="btn btn-default btn-lg"><i class="fab fa-goodreads"></i>goodreads</button></a>
            
            <a href="https://drive.google.com/file/d/1gppITDShNofrmMYh6nhMds09UIIEE35R/view?usp=sharing"><button class="btn btn-default btn-lg"><i class="fa fa-file"></i>Resume</button></a>
            
          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
